.output {
  .container {
    display: flex;
  }
  // .output__filters

  &__filters {
    max-width: 300px;
    margin-right: 25px;
  }

  &__filter {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__main {
    flex: 0 1 100%;
  }

  
}

.filters {
  width: 100%;
  // .filters__filter

  &__filter {
  }

  .accordion {

    // .accordion__list
  
    &__list {
    }
  
    // .accordion__item
  
    &__item {
      &.selected {
        .accordion__control {
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: $main-green;
          }
        }
       
        .filter__title {
          &::after {
            content: ':';
          }
        }
      }

      &.open {
        .accordion__icon {
          background-color: $main-green;
          color: #fff;
         
          svg {
            transform: rotate(90deg);
          }
        }
        .accordion__control {
          color: #fff;
          background-color: $main-green;
          
        }
        .accordion__content {
          padding: 0;
        }
      }
    }
  
    // .accordion__control
  
    &__control {
      position: relative;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      padding: 8px 10px;
      font-weight: 500;
      color: $main-green;
      overflow: hidden;
      transition: color 0.3s ease-in-out 0s,
      background-color 0.3s ease-in-out 0s;

    }
  
    // .accordion__title
  
    &__title {
      font-size: 14px;
      font-weight: 500;
      
      
    }
  
    // .accordion__icon
  
    &__icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      color: #000;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      transition: color 0.3s ease-in-out 0s,
      background-color 0.3s ease-in-out 0s;

      svg {
        transition: transform 0.3s ease-in-out 0s;
      }
    }
  
    // .accordion__content
  
    &__content {
      padding: 0;
      
    }

    &__sub-list {
      position: relative;
      
      overflow-y: auto;
    }

    &__sub-item {
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #EFEFEF;
      display: flex;
      align-items: center;
      padding: 10px 25px 10px 20px;
      font-size: 14px;
      font-weight: 500;
      transition: background-color 0.3s ease-in-out 0s;
      

      &:hover {
        background-color: #EFEFEF;
        .accordion__sub-icon {
          background-color: $main-green;
          color: #fff;
        }
      }
    

    }
    &__sub-title {

    }
    &__sub-icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      color: #000;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      transition: color 0.3s ease-in-out 0s,
      background-color 0.3s ease-in-out 0s;
      margin-left: auto;
    }

  }
}
.filter {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  &__title {
    text-transform: uppercase;

    
  }

  &__choice {

  }

  &__search-field {
    position: relative;
    padding: 10px;
    input {
      line-height: 1;
      width: 100%;
      height: 30px;
      background-color: #EFEFEF;
      border-radius: 3px;
      padding-left: 10px;
      padding-right: 35px;

      &::placeholder {
        font-weight: 300;
        font-size: 14px;
        color: #9B9B9B;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 13px;
      height: 13px;
      top: 18px;
      right: 18px;
      background: url('../img/sprite/css-sprites.png') -48px -126px no-repeat;
    }
  }
}

.filter--main {
  .accordion__sub-item {
    &::before {
      content: '';
      flex-shrink: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $main-green;
      margin-right: 10px;
    }
  }
  .accordion__sub-list {
    max-height: 350px;
  }
}

.filter--type {
  .accordion__sub-item {
    position: relative;
    padding: 10px;

    &::before {
      content: '';
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      background: #EFEFEF;
      border-radius: 3px;
      margin-right: 10px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 3px;
      background-color: $main-green;
      top: 16px;
      left: 16px;
      transition: opacity 0.3s ease-in-out 0s;
      opacity: 0;
    }

    &.active {
      &::after {
        opacity: 1;
      }
      
    }

    
  }
  .accordion__sub-list {
    max-height: 205px;
  }
}

.filter--capacity {
  .accordion__sub-list {
    display: grid;
    grid-template-columns: 30% 30% 1fr;

    max-height: 185px;
  }

  .accordion__sub-item {
    justify-content: center;
    padding: 10px 10px;
    
    &:not(:first-child) {
      border-left: 1px solid #EFEFEF;
    }
    &:nth-child(3n) {
      padding-right: 30px;
    }
  }
}

.filter--color {
  .accordion__sub-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 185px;
  }

  .accordion__sub-item {
    justify-content: center;
    padding: 10px 10px;
    
    &:not(:first-child) {
      border-left: 1px solid #EFEFEF;
    }
  }
}
.filter--size {
  .accordion__sub-list {
    max-height: 185px;
  }

  .accordion__sub-item {
    padding: 10px 15px;
    
    
  }
}

.filter--price {
  .filter-range {
    &__inputs {
      display: flex;
      align-items: center;
      padding: 10px;
      padding-bottom: 20px;

      &::after {
        content: '-';
        order: 2;
        font-size: 14px;
        font-weight: 700;
        padding: 0 7px;
      }
    }

    &__input {
      height: 30px;
      background-color: #EFEFEF;
      border-radius: 3px;
      min-width: 0;
      padding: 0 10px;

      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 3;
      }

      &::placeholder {
        font-weight: 300;
        color: #9B9B9B;
      }
    }

    &__slider {
      padding: 0 10px;
      padding-bottom: 20px;
      border-bottom: 1px solid #EFEFEF;
    }

    &__btn {
      padding: 20px;

      button {
        width: 100%;

        &::before, &::after {
          display: none;
        }
      }
    }

    &::before {
      content: attr(data-name);
    }

    .noUi-horizontal {
      height: 3px;
    }
    .noUi-target {
      background-color: $main-green;
      border-radius: 3px;
      border: 0;
      box-shadow: none;
    }
    .noUi-horizontal .noUi-handle {
      cursor: pointer;
      width: 20px;
      height: 20px;
      right: -17px;
      top: -9px;
      border-radius: 50%;
      background-color: #fff;
      border: 3px solid #00B341;
    }
    .noUi-handle:after, .noUi-handle:before {
      display: none;
    }
  }
}


.main-output {

  // .main-output__header

  &__header {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

  // .main-output__result

  &__result {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
  }

  // .main-output__elements

  &__elements {
    display: flex;
    align-items: center;
  }

  // .main-output__element

  &__element {
  }

  // .main-output__sort

  &__sort {
    display: flex;
    align-items: center;
  }

  // .main-output__view

  &__view {
  }

  // .main-output__view-btn

  &__view-btn {
  }

  // .main-output__cards

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
    gap: 25px;
  }

  // .main-output__pages

  &__pages {
  }

  .product-card {
    width: 100%;

    &__title {
      padding: 0;
    }
    &__footer {
      padding: 0;
    }
  }
}



