.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px 16px;
  color: #fff;
  transition: background-color 0.2s linear 0s;
}

.btn--green {
  border-radius: 3px;
  background-color: $main-green;
  

  &:hover {
    background-color: $main-orange;
  }
}
.btn--orange {
  background-color: #E8712D;


  &:hover {
    background-color: $main-green;
  }
}

.btn--more {
  display: block;
  margin: 0 auto;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  color: #00B341;
  background-color: #FFFFFF;
  border: 1px solid #00B341;
  box-sizing: border-box;
  border-radius: 3px;
  width: 206px;
  padding: 12px;
  text-align: center;
  transition: color 0.2s linear 0s,
              border-color 0.2s linear 0s;

 

  &:hover {
    color: $main-orange;
    border-color: $main-orange;
  }
}

.btn--white {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 8px;
  }
}


.btn--lines {
  &::before, &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    height: 9px;
    width: calc((100vw - 100% - 17px) / 2);
    border-top: 2px solid #EFEFEF;
    border-bottom: 2px solid #EFEFEF;

    @media (pointer:coarse){
      width: calc((100vw - 100%) / 2);

    }
  }

  &::before {
    right: 100%;

  }
  &::after {
    left: 100%;
  }
}

.mega-m {
  position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
  
  &__menu {
    
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 500;
    max-height: 220px;
    overflow-y: auto;
    border-radius: 0 0 3px 3px;
    li {
      
      &.active {
        
        a {
          padding-left: 40px;
          background-color: #EFEFEF;
          &::before {
            left: 20px;
          }
          
        }
  
      
        .mega-m__icon {
          background-color: #00B341;
          color: #fff;
        }
      }
  
      

      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px 12px 20px;
        transition: all 0.2s ease-in-out 0s;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
          height: 30px;
          border-radius: 3px;
          background-color: #00B341;
          transition: all 0.2s ease-in-out 0s;
        }
      }
  
      
  
      
    }
  }

  

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: all 0.2s ease-in-out 0s;
  }

  &__submenu {
   
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    gap: 15px 20px;
    position: absolute;
    top: 0;
    left: 100%;
    // width: 524px;
    width: 35vw;
    
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 23px 23px 20px 29px;
    a {
      font-size: 11px !important;
      font-weight: 500;
    }

    &.show {
      visibility: visible;
      opacity: 1;
      transition: all 0.2s ease-in-out 0.2s;
    }

    li {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        flex-shrink: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #00B341;
        margin-right: 8px;
      }
    }
  }
    
}

.popup {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out 0s;
  // .popup__wrapper

  

  &.show {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
}

// общие стили для аккордионов

.accordion__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
}

.accordion__content {
  box-sizing: content-box;
  padding: 0 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out 0s;
  will-change: max-height;
}

.accordion__item.open .accordion__content {
  padding: 10px;
  overflow: unset;
  opacity: 1;
}

// общие стили для селектов

.breadcrumb {
  padding-top: 15px;
  padding-bottom: 15px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: $main-green;

    svg {
      width: 6px;
      height: 8px;
      margin: 0 18px;
    }

    a {
      
    }

    &.active {
      font-weight: 300;
      color: #9B9B9B;
    }
  }
}

// общие стили для селектов

.choices__inner {
  min-height: 40px;
  border: 0;
  background-color: #FFFFFF;
  border-radius: 3px;
}

.choices {
  color: #404040;
}

.choices[data-type*=select-one]::after {
  content: '';
  height: 4px;
  width: 6px;
  border: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
  // background: url('../img/search-parts/select-arrow.svg') 50% 50% no-repeat;
  background: url('../img/sprite/css-sprites.png') -81px -126px no-repeat;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -2.5px;
}
.choices[data-type*=select-one] .choices__input {
  height: 30px;
  background-color: #EFEFEF;
  border-radius: 3px;
  width: 90%;
  margin: 0 auto;
  padding-right: 30px;
  border: 0;
 
}
.choices__list--dropdown {
  padding-top: 10px;
  z-index: 50;
  border: 1px solid #EFEFEF;
  border-radius: 0 0 3px 3px;

  &::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 20px;
    width: 13px;
    height: 13px;
    // background: url('../img/search-parts/search-select-icon.svg') 50% 50% no-repeat;
    background: url('../img/sprite/css-sprites.png') -48px -126px no-repeat;
  }

}
.choices__list--dropdown .choices__item--selectable {
  padding-right: 10px;
}

// общие стили для селектов


.filter-btn {
  background: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  padding: 7px;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s linear 0s,
  border-color 0.2s linear 0s;
  font-weight: 700;
  font-size: 14px;

  &.active {
    border-color: $main-green;
  }
}